{% extends "layout.html" %}

{% block title %}
    Carpathian
{% endblock %}

{% block main %}

<div class="div4">
    <div class="hero-text">
        <h1 style="font-size:32px; background-color: white; color: #cbc2bb">Carpathian mountains, Ukraine</h1>
        <h3 style="font-size:20px">3 days, 2 nights in a tent, 47 km and 2700 m of elevation gain</h3>
    </div>
</div>

<h1 class="container" style="font-size:32px">Day 1. 15 km and 1300 m ⬆️</h1>

<div class="container">
  <div class="row">
    <div class="column-33">

      <p>We started our 3 days adventure from the village of Kvasy (560 m)
      and the first summit we reached after 9 km was Stara mountain at 1472 m. a. s. l.</p>
      <p>Stara mountain (Gora Stara) is a part of Carpathian Biosphere Reserve,
      World Network of Biosphere Reserves of UNESCO.
      </p>
      <p>
        The hiking trails here are well equipped and pass through bilberry (european blueberry)
        and lingonberry bushes.

      </p>

    </div>
    <div class="column-66">
        <img src="/static/Carpathian2.jpg" width="800" height="500">
    </div>
  </div>
</div>

<h1 class="container" style="font-size:32px">Day 2. 18 km and 500 m ⬆️ </h1>

<!-- The App Section -->

<div class="container">
  <div class="row">

    <div class="column-66">
        <img src="/static/Carpathian6.jpg" width="800" height="500" >
    </div>
    <div class="column-33">
      <p>Second day of our adventure we started from Blyznytsia Mountain, 1881 m. a. s. l.
      It is the highest peak of the Svydivets massif. </p>
      <p> The Svydovets (Ukrainian Свидівець; Russian Свидовец; Polish Świdowiec;
      Czech and Slovak Svidovec; German Swydiwez) is a mountain range in western Ukraine,
      one of the ranges of Eastern Beskids, itself belonging to the Outer Eastern Carpathians</p>
      <p> Sunsets over mountains are different than those on the plains.
      The air immediately becomes wet and cold. Every part of you feels this bone-freezing agony.</p>
    </div>
  </div>
</div>


<!-- The App Section -->
<h1 class="container" style="font-size:32px">Day 3. 18 km and 1000 m ⬇️ </h1>
<div class="container">
  <div class="row">
    <div class="column-33">


      <p> The whole day of hiking downhill to the village of Chorna Tysa- the hardest day of the adventure.</p>
      <p>Lake Vorozheska is located on the northern slopes of the Svydovets massif at an elevation of
      1460 meters above sea level.
      It has a glacial origin.
      The lake constitutes two connected bodies of water, a bigger and a smaller one. The water of the
      lake is clear and cool.</p>

    </div>
    <div class="column-66">
        <img src="/static/Carpathian7.jpg" width="800" height="500" >

    </div>
  </div>
</div>

<h2 class="container" style="font-size:32px">Hiking trail and details</h2>
<p class="container"><iframe height='500' width='700' frameborder='0' allowtransparency='true' scrolling='no'
    src='https://www.strava.com/activities/3999790607/embed/3f6c857c30833fdfb21f4b5af3459863c49eb75f'></iframe></p>

{% endblock %}