{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}


<div class="div1">
    <div class="hero-text">
        <h1 style="font-size:50px">We are VUMGa journey travel blog</h1>
        <h3>And we are from Ukraine</h3>
        <a href="/places" id="button" title="go">More photos</a>
    </div>
</div>


<div class="div2">
    <div class="button-on-slides">
        <a href="/Neuschwanstein" id="button" title="go">Neuschwanstein, Germany</a>
    </div>
</div>


<div class="div3">
    <div class="button-on-slides">
        <a href="/Carpathian" id="button" title="go">Carpathians, Ukraine</a>
    </div>
</div>

{% endblock %}