{% extends "layout.html" %}

{% block title %}
    Neuschwanstein
{% endblock %}

{% block main %}
<div class="div5">
    <div class="hero-text">
        <h1 style="font-size:32px; background-color: white; color: #cbc2bb">Neuschwanstein Castle</h1>
        <h3 style="font-size:20px">Bavaria, Germany</h3>
    </div>
</div>

<h1 class="container" style="font-size:32px">Neuschwanstein Castle</h1>

<div class="container">
  <div class="row">
    <div class="column-33">
        <p>
            Neuschwanstein Castle (German: Schloss Neuschwanstein, pronounced [ˈʃlɔs nɔʏˈʃvaːnʃtaɪn],
            Southern Bavarian: Schloss Neischwanstoa) is a 19th-century historicist palace on a rugged hill
            above the village of Hohenschwangau near Füssen in southwest Bavaria, Germany.
            The palace was commissioned by King Ludwig II of Bavaria as a retreat and in honour of Richard Wagner.
            Ludwig chose to pay for the palace out of his personal fortune and by means of extensive borrowing,
            rather than Bavarian public funds. Construction began in 1869, but was never fully completed.
        </p>

        <p>
            The castle was intended as a private residence for the King, until he died in 1886.
            It was open to the public shortly after his death. Since then more than 61 million people
            have visited Neuschwanstein Castle. More than 1.3 million people visit annually,
            with as many as 6,000 per day in the summer.
        </p>

    </div>
    <div class="column-66">
        <img src="/static/Neuschwanstein2.jpg" width="800" height="500">
    </div>
  </div>
</div>

<h1 class="container" style="font-size:32px">Forggensee</h1>

<!-- The App Section -->

<div class="container">
  <div class="row">

    <div class="column-66">
        <img src="/static/Forggensee.jpg" width="800" >
    </div>
    <div class="column-33">
      <p>Forggensee is a lake located north of Füssen in the district of Ostallgäu in Bavaria, Germany.
      One of many lakes in the region around Hohenschwangau and Neuschwanstein castles,
      Forggensee is the fifth-largest lake in Bavaria, with a surface area of 15.2 km².</p>
      <p>
          The River Lech flows through it. Forggensee is known primarily as a tourist destination
      for aquatic sports and recreation. The lake provides ideal conditions for surfing, sailing, fishing and boating.
      The lake is stocked with pike, trout and eel. Two ships navigate the lake on two different routes.
      </p>
      <p>
          Forggensee is a man-made lake. It was created in 1954, when the River Lech was
        dammed for the first time to create the Lechsee Lake. The option of letting water
        in and out reduces the risk of flooding when the snow melts in the spring and regulates
        the flow of water over the "Power Plant Step" located downstream.
      </p>
    </div>
  </div>
</div>


<!-- The App Section -->
<h1 class="container" style="font-size:32px">Hohenschwangau Castle </h1>
<div class="container">
  <div class="row">
    <div class="column-33">
      <p> Hohenschwangau Castle (German: Schloss Hohenschwangau) is a 19th-century palace in southern Germany.
      It was the childhood residence of King Ludwig II of Bavaria and was built by his father, King Maximilian II of Bavaria.
      It is located in the German village of Hohenschwangau near the town of Füssen,
      part of the county of Ostallgäu in southwestern Bavaria, Germany, very close to the border with Austria.</p>

    </div>
    <div class="column-66">
        <img src="/static/HohenschwangauCastle.jpg" width="800" height="500" >

    </div>
  </div>
</div>

<h1 class="container" style="font-size:32px">Our trip</h1>

<div class="container">
  <div class="row">

    <div class="column-66">
        <img src="/static/Forggensee2.jpg" width="800" height="500">
    </div>
    <div class="column-33">
        <p>
           We came by car from Zurich and stayed in a camp somewhere near Forggensee.
         </p>
         <p>
            Forggensee is a man-made lake which was created in 1954.
            A hydroelectric power plant with a capacity of 45.5 MW and an annual output of 152.6 million
            kWh operates on the lake.
         </p>

         <p>The main feature of the lake is that all the water is
             drained from it for several months a year to prevent flooding of the adjacent lands during the spring flood.
         </p>

    </div>
  </div>
</div>



{% endblock %}