{% extends "layout.html" %}

{% block title %}
    Schilthorn
{% endblock %}

{% block main %}

<div class="div6">
    <div class="hero-text">
        <h1 style="font-size:32px; background-color: white; color: #cbc2bb">Hiking to the Schilthorn</h1>
        <h3 style="font-size:20px">The Schilthorn 2970 m, a summit in the Bernese Alps of Switzerland</h3>
    </div>
</div>

<div class="container">
  <div class="row">
    <div class="column-33">

      <p>To get to the Schilthorn from the valley floor,
      a series of cable cars must be taken.
      The cable cars begin in Stechelberg leaving to Gimmelwald and then onto Mürren.
      From Mürren another cable car is taken to Birg, which is the final change before the Schilthorn.
      This cable airway is the longest and was the most technically challenging airway to be built. </p>
      <p>
          It is also possible to hike to the peak, along the myriad of small, but well-marked paths to the top.
        The hike to the top takes roughly five hours from Gimmelwald for a fit walker.
      </p>


    </div>
    <div class="column-66">
        <img src="/static/Schilthorn1.jpg" width="800" height="500">
    </div>
  </div>
</div>

<!-- The App Section -->

<div class="container">
  <div class="row">

    <div class="column-66">
        <img src="/static/Schilthorn2.jpg" width="800" height="500" >
    </div>
    <div class="column-33">
      <p>We hiked in this region two times. Firts, from Stechelberg to Birg and back. See details from our first hike below.
      And second time, from Birg cable car station to the top of Schilthorn.</p>
      <p> The panoramic revolving restaurant at the summit, Piz Gloria, was featured in the 1969
      James Bond movie On Her Majesty's Secret Service.
      A black ski run featured in the film starts at the summit and leads down to the Engetal below Birg.
      The restaurant revolves a full 360 degrees in 45 minutes, slightly faster than the minute hand of a clock.

After considering a number of locations, the stalled construction of the sports bar atop
the Schilthorn was chosen when the film's producer financed the completion of the famous revolving platform for
the right to use the facility for his next film, the first and only Bond film starring George Lazenby.
 </p>
    </div>
  </div>
</div>


<!-- The App Section -->
<div class="container">
  <div class="row">
    <div class="column-33">

      <p>It overlooks the valley of Lauterbrunnen in the Bernese Oberland,
      and is the highest mountain in the range lying north of the Sefinenfurgge Pass.
      The Schilthorn lies above the village of Mürren, from where a cable car leads to its summit.</p>
      <p>
          The panoramic view of the Eiger, Monch and Jungfrau mountains from the viewing platform at Piz Gloria.
A number of scenes in the film were photographed by cameraman John Jordan hanging below a speeding helicopter.
Jordan had previously lost a foot to a helicopter rotor while filming the previous Bond movie You Only Live Twice
      </p>

    </div>
    <div class="column-66">
        <img src="/static/Schilthorn3.jpg" width="800" height="500" >

    </div>
  </div>
</div>

<h2 class="container" style="font-size:32px">Hiking trail and details</h2>
<p class="container"><iframe height='405' width='590' frameborder='0' allowtransparency='true' scrolling='no'
src='https://www.strava.com/activities/2532771695/embed/66b3a6581f9bdd3e109c6310823c6327d89d2cc0'></iframe></p>

{% endblock %}


